@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  padding-left: 20px;

}


.boxy {
  margin: 10px;
  background-color: lightblue;
  border-style: solid;
  border-width: 5px;
}

#abcda {
  border-style: solid;
  border-width: 5px;
}
